* {
    margin: 0px;
    padding: 0;
    font-family:  'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.nav {
    background: white;
    padding: 10px;
    position: relative;
    width: 100%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    flex: 1;
    text-align: center;
}
nav ul li {
    display: inline-block;
    list-style: none;
}
button {
    background-color: black;
    color: whitesmoke;
    padding: 3px;
    cursor: pointer;
    border-radius: 3px;
    padding: 10px;
}
button:hover {
    background-color: whitesmoke;
    color: black;
    transition: 1.5s;
}
.button-white {
    color: black;
    background: white;
    padding: 10px;
    border-top: 1px;
    border-left: 1px;
}
.button-white:hover {
    background: black;
    color: white;
}
.header-container {
    background-color: #eeeee4;
    margin-top: 40px;
}
header {
    text-align: center;
    padding: 60px;
}
img {
    max-width: 60%;
    max-height: 60%;
    margin-top: 30px;
}
p {
    margin-bottom: 10px;
}
h1 {
    text-align: center;
}
.section1 {
    display: flex;
    align-items: center;
    margin: 50px;
}
.portfolio {
    width: 50%;
    margin-left: 70px;
}
b {
    font-size: 20px;
    text-transform: capitalize;
}
.button-wrapper1 {
    display: inline-block;
    vertical-align: top;
}
.amico {
    width: 100%;
    height: 100%;
    margin-right: 0px;
}
.section2 {
    display: flex;
    flex-direction: row-reverse;
    margin: 50px;
}
.usp {
    font-size: 30px;
    margin: 40px 30px;
    font-weight: 700px;
}
.footer {
    display: flex;
    background-color: black;
    color: darkgray;
    margin-top: 50px;
    padding:  50px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.footer-button {
    background-color: white;
    color: black;
    
}
.footer-button:hover {
    background-color: wheat;
    color: black;
}
ul li {
    list-style: none;
    margin-bottom: 12px;
}
ul li a {
    color: darkgray;
}
.footer-col a {
    list-style: none;
    text-decoration: none;
}
h3 {
    margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
    .footer {
        font-size: 3px;
        padding: 15px;
        height: 100%;
    }
    .footer-col {
        margin-bottom: 30px;
        width: 50px;
    }
    .footer-col h2 {
        font-size: 13px;
    }
    .section1 {
        display: grid;
        text-align: center;
    }
    .section2 {
        display: grid;
        text-align: center;
    }
    .portfolio {
        height: 100%;
        width: 100%;
        margin-bottom: 20px;
        margin-left: 5px;
    }
    nav {
        font-size: 5px;
    }
    nav h1 {
        font-size: 16px;
    }
}
